modules = ["nodejs-20", "web", "swift-5.8", "java-graalvm22.3", "ruby-3.2", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["openssl", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Area 862 Server"

[[workflows.workflow]]
name = "Area 862 Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
build = ["bash", "-c", "npx vite build"]
publicDir = "dist/spa"
run = ["node", "src/index.js"]

[userenv]

[userenv.shared]
VITE_GOOGLE_MAPS_KEY = "AIzaSyBLqGtCFZG3-cl9oILRHE-1QOJATX-gm-4"
GOOGLE_MAPS_API_KEY = "AIzaSyBLqGtCFZG3-cl9oILRHE-1QOJATX-gm-4"
NODE_ENV = "development"
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyBLqGtCFZG3-cl9oILRHE-1QOJATX-gm-4"

[userenv.development]
SERVER_DOMAIN = "7ede6d66-4388-4ffe-b78d-5d3ddf76cac5-00-24b4w48upk0ff.picard.replit.dev"
VITE_API_URL = "https://7ede6d66-4388-4ffe-b78d-5d3ddf76cac5-00-24b4w48upk0ff.picard.replit.dev"
